################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SignalR.Draw.Core/obj
/SignalR.Draw.Core/.vs
/SignalR.Draw.Core/bin/Debug/netcoreapp2.2
/SignalR.Draw.Core/Properties/PublishProfiles
/SignalR.Draw.Core/bin/Release/netcoreapp2.2
/.vs/SignalR.Draw.Core/v16/Server/sqlite3
.vs/
