################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SignalR.Draw.Core/obj
/SignalR.Draw.Core/bin/Debug/netcoreapp2.2
